# Chapter 3: The Evals Group (evals.ipynb)
jupyter-book
matplotlib
numpy
jupyter 
ipython 
python-dotenv 
pandas 
openai 
evaluate 
absl-py 
rouge_score 
langsmith 
lighteval\[accelerate\]

#  Chapter 5: Managing Input Data (input.ipynb)
docling
markitdown
Levenshtein
sentence_transformers
chromadb
llama_index
langchain_text_splitters
langchain_core
langchain_community
google-genai
google-cloud-texttospeech